body {
    background-color: rgb(20, 20, 20);
    opacity: 95%;
}
#particles-js {
    width: 100%;
    height: 100%;
}
#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 350px;
    transition: all ease-in-out;
    z-index: 9997;
    transition: all 0.5s;
    padding: 0 15px;
    background: black;
    overflow: auto;
}

.container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 1200px;
    transition: all ease-in-out;
    overflow: auto;
    padding-left: 10rem;
}

#header .d-flex {
    margin-top: 5rem;
    margin-left: 30px;
}

#header .menu {
    width: 200px;
    margin-top: 14rem;
    margin-left: 4rem;
    font-size: 23px;
    color: linen;
}

#header .nengae {
    margin-top: 28.5rem;
}
.huss {
    margin-top: -1rem;
}
.switch {
    padding: 1px 1px;
}

.slide {
    max-width: auto;
    margin-top: 4rem;
    height: 565px;
    width: 405px;
    align-items: center;
    margin-left: -8rem;
    position: relative;
    border-radius: 10px;
    fill-opacity: 80%;
}

.slide1,
.slide2,
.slide3 {
    position: absolute;
    width: 390px;
    height: 545px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 5px;
    border-radius: 10px;
    margin-left: 2px;
    box-shadow: 0 4px 8px 0 rgb(51, 11, 228), 0 6px 20px 0 rgb(50, 4, 255);
}
.slide1 {
    background: url(../img/gambar22.JPG) no-repeat center;
    animation: 15s slidy1 infinite;
}
.slide2 {
    background: url(../img/gambar\ 20.jpg) no-repeat center;
    animation: 15s slidy2 infinite;
}
.slide3 {
    background: url(../img/gambar21.jpg) no-repeat center;
    animation: 15s slidy3 infinite;
}
@keyframes slidy1 {
    0% {
        opacity: 1;
    }
    33.333% {
        opacity: 0;
    }
    66.666% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes slidy2 {
    0% {
        opacity: 0;
    }
    33.333% {
        opacity: 1;
    }
    66.666% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes slidy3 {
    0% {
        opacity: 0;
    }
    33.333% {
        opacity: 0;
    }
    66.666% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.me h1 {
    width: 44rem;
    height: 30rem;
    margin-left: 19rem;
    font-family: "Staatliches", cursive;
    margin-top: -33.5rem;
    font-size: 50px;
    color: white;
    text-shadow: 3px 3px 4px black, 0 0 35px blue, 0 0 10px darkblue;
}
.isi {
    width: 42rem;
    font-family: "Courgette", cursive;
    font-size: 23px;
    margin-left: 19rem;
    margin-top: -26.8rem;
    text-align: justify;
}
.bahasa {
    width: 12rem;
    margin-top: 2rem;
    margin-left: 19rem;
    font-size: 10px;
    padding-top: 3px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 5px;
    background-color: cyan;
    box-shadow: 0 4px 8px 0 rgba(17, 3, 221, 0.836),
        0 6px 20px 0 rgba(42, 4, 255, 0.979);
    margin-bottom: 3px;
}
.bahasa h1 {
    font-size: 28px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.list {
    margin-left: 18.5rem;
    width: 20rem;
    margin-top: 0.8rem;
    margin-bottom: -9.2rem;
}
.leser {
    background-color: aqua;
    width: 5px;
    height: 24rem;
    margin-left: 39.7rem;
    margin-top: -3.2rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(17, 3, 221, 0.836),
        0 6px 20px 0 rgba(42, 4, 255, 0.979);
}
.work {
    width: 13rem;
    margin-top: -3rem;
    margin-left: 48rem;
    font-size: 10px;
    padding-top: 3px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 5px;
    background-color: cyan;
    box-shadow: 0 4px 8px 0 rgba(17, 3, 221, 0.836),
        0 6px 20px 0 rgba(42, 4, 255, 0.979);
    margin-bottom: 3px;
}
.work h1 {
    font-size: 28px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(172, 1, 29),
        0 0 5px rgb(216, 0, 36);
}
.list dl dt {
    margin-left: 3px;
    font-size: 25px;
    font-family: "Lobster", cursive;
    color: white;
    text-shadow: 0 0 5px #0213ff, 0 0 10px #0000ff;
}
.list dl {
    margin-bottom: -15.8rem;
}

.skil {
    margin-right: 4rem;
}
.skil dl dt {
    margin-left: 3px;
    font-size: 25px;
    font-family: "Lobster", cursive;
    color: white;
    text-align: end;
    text-shadow: 0 0 5px #0213ff, 0 0 10px #0000ff;
}
.skil dl {
    margin-bottom: -18.4rem;
}
.piagam {
    height: 30rem;
    width: 71rem;
    margin-top: -1rem;
    margin-left: -8rem;
    text-align: center;
}
.piagam .row .col {
    margin-top: 2rem;
}
.piagam .row .col h3 {
    font-family: "Staatliches", cursive;
    font-size: 50px;
    color: white;
    text-shadow: 3px 3px 4px black, 0 0 35px blue, 0 0 10px darkblue;
}
.kontk {
    margin-top: 4rem;
    margin-left: -6rem;
    width: 66rem;
}
