body {
    background-image: url(../img/rrr.jpg);
    opacity: 95%;
}
#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 350px;
    transition: all ease-in-out;
    z-index: 9997;
    transition: all 0.5s;
    padding: 0 15px;
    background: black;
    overflow: auto;
}

.container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 1200px;
    transition: all ease-in-out;
    overflow: auto;
    padding-left: 10rem;
}

#header .d-flex {
    margin-top: 5rem;
    margin-left: 30px;
}

#header .menu {
    width: 200px;
    margin-top: 14rem;
    margin-left: 4rem;
    font-size: 23px;
}

#header .nengae {
    margin-top: 28.5rem;
}
.huss {
    margin-top: -1rem;
}
.switch {
    padding: 1px 1px;
}
